.footer {

}

.footer-top {
  &__logo-title {
    color: $color-logo-footer;
    padding: 0;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 15px;
  }

  &__social {
    margin-bottom: 30px;
  }

  &__social-link {
    color: $color-social-link;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    border: 1px solid $color-social-link;
    border-radius: 50%;
    text-decoration: none;
    transition: .4s;

    &:hover,
    &:focus {
      color: $color-secondary;
      border: 1px solid $color-tertiary;
      background-color: $color-tertiary;
    }
  }

  &__title {
    color: $color-social-link;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__info {
    & > p {
      margin-bottom: 0;

      & > span {
        color: $color-tertiary;
        font-weight: 600;
      }
    }
  }

  &__instagram {
    display: flex;
    flex-wrap: wrap;
  }

  &__instagram-columns {
    flex: 0 0 percentage(4/12);
    max-width: percentage(4/12);
  }

  &__instagram-link {
    display: flex;
    margin: 0 6px 6px 0;
    overflow: hidden;

    img {
      transition: .4s;
    }

    &:hover img {
      transform: scale(1.2);
    }
  }

  @media #{$media-sm} {
    .col-xs-6 {
      flex: 0 0 percentage(6/12);
      max-width: percentage(6/12);
    }

    &__logo-title {
      margin-top: 20px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__info {
      margin-bottom: 30px;

      * {
        font-size: 14px;
      }
    }

    &__text {
      font-size: 14px;
    }
  }

  @media #{$media-xs} {
    .col-xs-6 {
      flex: 0 0 percentage(12/12);
      max-width: percentage(12/12);
    }
  }
}

.footer-bottom {
  background: $bg-color-footer-bottom;
  padding: 20px 0;
  text-align: center;

  p {
    margin: 0;
  }

  @media #{$media-sm} {
    font-size: 14px;
  }
}