.header {
  @media #{$media-sm} {
    &.is-fixed {
      position: fixed;
      z-index: $layout-topmost;
      top: 0;
      left: 0;
      width:100%;
      animation: downEnterAnimation .5s;
    }
  }
}