$padding: 10px;

.nav-contain {
  position: relative;
  padding: $padding 0;
}

.navbar-main {
  display: flex;

  @media #{$media-sm} {
    &__backdrop {
      position: absolute;
      z-index: $layout-topmost - 1;
      top: 100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.nav-logo {
  font: 600 normal 40px/1 norwester;
  letter-spacing: 2px;
}

.hamburger-icon {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: $padding;
  right: $padding + 5px;
  width: 45px;
  height: 45px;
  position: fixed;
  z-index: $layout-topmost;
  outline: 0;
  cursor: pointer;

  span {
    display: block;
    height: 3px;
    width: 30px;
    background: $color-secondary;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      width: 30px;
      background: $color-secondary;
      top: 8px;
      left: 0;
      transition: all .25s cubic-bezier(.645,.045,.355,1);
      transition-timing-function: cubic-bezier(.645,.045,.355,1);
    }

    &::before {
      top: -8px;
    }
  }

  &.show span {
    background: transparent;

    &::before {
      transform: translateY(8px) translateX(0) rotate(45deg);
    }

    &::after {
      transform: translateX(0) translateY(-8px) rotate(-45deg);
    }
  }

  @media #{$media-sm} {
    display: flex;
  }
}

.navbar-nav {
  $self: &;

  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;

  & > #{$self}__item {
    padding: 0 5px;
  }

  &__item {
    &.item-dropdown {
      position: relative;

      & > a::after {
        content: "\f0d7";
        font: normal normal normal 14px/1 FontAwesome;
        padding: 0 5px;
      }

      &.open {
        ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    ul {
      display: block;
      position: absolute;
      top: calc(100% + #{$padding});
      left: 0;
      background-color: #0d0d0d;
      transition: all 0.3s ease-in-out 0s;

      opacity: 0;
      visibility: hidden;
    }

    &:hover > #{$self}__link {
      background-color: $color-tertiary;
    }
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out 0s;
  }

  @media #{$media-sm} {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: $layout-topmost;
    top: 100%;
    left: 0;
    background-color: $bg-navbar-nav-mobile;
    min-width: 360px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }

    & > #{$self}__item {
      padding: 0;
    }

    &__item {
      &.item-dropdown {
        &.open {
          ul {
            display: block;
          }
        }
      }

      ul {
        display: none;
        position: inherit;
        white-space: nowrap;
        background-color: $bg-navbar-nav-mobile;

        #{$self}__link {
          padding-left: 30px;
        }
      }
    }

    &__link {
      display: block;
      font-size: 14px;
      padding: 7px 20px;
    }
  }
}
