.section-title {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;

  &__heading {
    font-size: 36px;
    text-align: center;
    font-family: $font-family-base;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 37%;
      height: 1px;
      width: 26%;
      background-color: $color-line-title;
    }
  }

  &__description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }

  @media #{$media-sm} {
    max-width: 80%;

    &__heading,
    &__description {
      br {
        display: none;
      }
    }
  }

  @media #{$media-xs} {
    max-width: 100%;
  }
}