.slick-initialized {
  padding-bottom: 25px;
  overflow: hidden;

  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    bottom: 0;

    li,
    button,
    button::before {
      width: 13px;
      height: 13px;
    }

    li {
      margin: 0 7.5px 0 0;

      button {
        &:before {
          border-radius: 50%;
          opacity: 1;
          color: transparent;
          background-color: $color-slick-dots;
          border: 1px solid $color-slick-dots;
        }
      }

      &.slick-active button:before {
        background-color: transparent;
      }
    }
  }

  @media #{$media-sm} {
    .slick-dots {
      li,
      button,
      button::before {
        width: 10px;
        height: 10px;
      }
    }
  }
}
