$color-primary: #333333;
$color-secondary: #fefefe;
$color-tertiary: #bc2e1d;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
);

$color-white: #fff !default;
$color-gray-100: #f3f3f3 !default;
$color-gray-200: #e9ecef !default;
$color-gray-300: #dee2e6 !default;
$color-gray-400: #ced4da !default;
$color-gray-500: #b3b3b3 !default;
$color-gray-600: #6c757d !default;
$color-gray-700: #454545 !default;
$color-gray-800: #393939 !default;
$color-gray-900: #212529 !default;
$color-black: #000 !default;

$backgrounds: (
  "primary": #fefefe,
  "secondary": #001c37
);

$text-bg: (
  "primary": $color-primary,
  "secondary": $color-secondary
);

$text-colors: map_merge(
  $theme-colors,
  (
    "white": $color-white,
    "light": $color-gray-300,
    "dark": $color-gray-900,
  )
);

//color components
$bg-navbar-nav-mobile: #001c37;
$bg-language-dropdown: $color-secondary;