$color-primary: #16b09c;
$color-secondary: #eb6028;
$color-tertiary: #003949;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
);

$color-hover-lighten: 10%;
$color-active-lighten: 20%;

$hover-colors: (
  "primary": #5eb0a2,
  "secondary": #f2844f,
  "tertiary": #365363
);

$active-colors: (
  "primary": #c0e1da,
  "secondary": #fbc6a7,
  "tertiary": #939da9
);

$color-white: #fff !default;
$color-gray-100: #f3f3f3 !default;
$color-gray-200: #e9ecef !default;
$color-gray-300: #dee2e6 !default;
$color-gray-400: #ced4da !default;
$color-gray-500: #b3b3b3 !default;
$color-gray-600: #6c757d !default;
$color-gray-700: #454545 !default;
$color-gray-800: #393939 !default;
$color-gray-900: #212529 !default;
$color-black: #000 !default;

$grays: (
  "100": $color-gray-100,
   "200": $color-gray-200,
  "300": $color-gray-300,
   "400": $color-gray-400,
  "500": $color-gray-500,
  "600": $color-gray-600,
  "700": $color-gray-700,
  "800": $color-gray-800,
   "900": $color-gray-900
);

$backgrounds: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "gray-100": $color-gray-100,
);

