// container
.container {
  max-width: $container-max-width;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

// text utilities
.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-middle {
  align-items: center;
}

@each $color, $value in $text-colors {
  .text-#{$color} {
    color: $value;
  }
}

@each $color, $value in $backgrounds {
  .bg-#{$color} {
    background-color: $value !important;

    * {
      color: map-get($text-bg, $color);
    }
  }
}