*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #feda00;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

button,
input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
    border: 1px solid $color-gray-300;
    border-radius: 4px;

    &:focus {
      //color: $color-text-body;
      outline: none;
    }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

button {
  &:focus {
    outline: none;
  }
}

b,
strong {
  font-weight: bold;
}

a {
  color: $link-color;
  background-color: transparent;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
}

/* for content */
p { margin-bottom: 1rem; }
