$font-path: '../fonts/';

@font-face {
  font-family: 'Roboto';
  src: url($font-path + 'Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url($font-path + 'Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url($font-path + 'Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'UTMHelvetIns';
  src: url($font-path + 'UTMHelvetIns.ttf') format('truetype');
  font-weight: 400;
}
