@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-property($nameProperty, $min-value, $max-value, $min-vw, $max-vw) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-value);
  $u4: unit($max-value);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$nameProperty}: $min-value;

      @media screen and (min-width: $min-vw) {
        #{$nameProperty}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        #{$nameProperty}: $max-value;
      }
    }
  }
}

//fluid width
@mixin fluid-width($min-width, $max-width, $min-vw: $min-vw, $max-vw: $max-vw) {
  @include fluid-property(width, $min-width, $max-width, $min-vw, $max-vw);
}

@mixin fluid-width-mobile($min-width, $max-width) {
  @media screen and (max-width: 767px) {
    @include fluid-property(width, $min-width, $max-width, 360px, 767px);
  }
}

@mixin fluid-width-not-mobile($min-width, $max-width) {
  @media screen and (min-width: 768px) {
    @include fluid-property(width, $min-width, $max-width, 768px, 1200px);
  }
}

//fluid font size
@mixin fluid-type($min-font, $max-font, $min-vw: $min-vw, $max-vw: $max-vw) {
  @include fluid-property(font-size, $min-font, $max-font, $min-vw, $max-vw);
}

@mixin fluid-type-mobile($min-font, $max-font) {
  @media screen and (max-width: 767px) {
    @include fluid-property(font-size, $min-font, $max-font, 360px, 767px);
  }
}

@mixin fluid-type-not-mobile($min-font, $max-font) {
  @media screen and (min-width: 768px) {
    @include fluid-property(font-size, $min-font, $max-font, 768px, 1200px);
  }
}
